#settings-tour-modal,
#settings-tour-overlay {
  position: fixed;
  z-index: 150000;
}
#settings-tour-modal {
  background: #F9F9F9;
  top: 50%;
  left: 50%;
  width: 1180px;
  margin: -213px 0 0 -590px;
}
#settings-tour-modal #settings-tour-step-content {
  padding: 20px;
}
#settings-tour-modal #settings-tour-step-content .left-column {
  position: relative;
  float: left;
  width: 460px;
  height: 100%;
}
#settings-tour-modal #settings-tour-step-content .left-column .play-video {
  top: 0;
  left: 0;
  width: 460px;
  height: 320px;
  background: url("../images/video.png") no-repeat;
  position: absolute;
}
#settings-tour-modal #settings-tour-step-content .left-column img {
  border: 1px solid #E0E0E0;
}
#settings-tour-modal #settings-tour-step-content .right-column {
  float: right;
  width: 640px;
  height: 100%;
}
#settings-tour-modal #settings-tour-step-content .right-column h2 {
  font-weight: 200;
  font-size: 28px;
  margin: 0.4em 0 1em 0;
  color: #505050;
}
#settings-tour-modal #settings-tour-step-content .right-column p.step-content {
  color: #6a6a6a;
  font-size: 1.1em;
  margin: 1em 0;
}
#settings-tour-modal #settings-tour-step-content .siteorigin-settings-form {
  margin-top: 2em;
}
#settings-tour-modal #settings-tour-step-content .siteorigin-settings-form .form-table th {
  width: 1%;
  white-space: nowrap;
  padding: 10px 40px 10px 0;
}
#settings-tour-modal #settings-tour-step-content .siteorigin-settings-form .form-table td {
  padding: 0;
}
#settings-tour-modal #settings-tour-step-content .siteorigin-settings-form .description {
  font-size: 0.75em;
}
#settings-tour-modal #settings-tour-toolbar {
  background: #FFFFFF;
  border-top: 1px solid #dddddd;
  padding: 15px 20px;
  text-align: right;
}
#settings-tour-modal #settings-tour-toolbar input {
  display: inline-block;
  margin-left: 6px;
}
#settings-tour-modal #settings-tour-toolbar input:active,
#settings-tour-modal #settings-tour-toolbar input:focus {
  outline: none;
}
#settings-tour-modal #settings-tour-toolbar .cancel {
  margin-left: 12px;
  text-decoration: none;
  color: #333333;
}
#settings-tour-modal #settings-tour-toolbar .cancel:hover {
  text-decoration: underline;
}
#settings-tour-modal #settings-tour-toolbar .tour-progress {
  float: left;
  margin-top: 6px;
  color: #666666;
}
#settings-tour-modal #siteorigin-settings-tour-navigation {
  margin-top: 0.75em;
  float: right;
}
#settings-tour-modal .dashicons,
#settings-tour-modal .tour-next,
#settings-tour-modal .tour-previous {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#settings-tour-modal .settings-form-buttons {
  margin-top: 2em;
}
#settings-tour-modal .settings-form-buttons .tour-next {
  position: relative;
  padding-right: 2.25em;
}
#settings-tour-modal .settings-form-buttons .tour-next .dashicons {
  font-size: 1em;
  display: inline;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -0.475em;
}
#settings-tour-overlay {
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}